doctype html
html
  head
    title Gagan Dance Academy
    block scripts
    
    block style

  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.jpg")
                | GDA
            li #[a(href="/") Home]
            li #[a(href="/") About Us]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
         | Copyright © 2020 GaganDanceAcademy.com | All rights reserved
